node_modules/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.cxx/
*.keystore
*.jks

# iOS
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
*.xcuserstate
*.xcuserdatad/

# OS
.DS_Store
